.portfolio-intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.portfolio-intro > p {
  color: #4362ec;
  letter-spacing: 2px;
  font-size: 1rem;
  font-weight: 500;
  margin: 0;
}

.portfolio-intro > h2 {
  color: #24252c;
  font-size: 2rem;
  margin: 0;
}
