.skills-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 200px;
}

.skills-section > p {
  color: #4362ec;
  letter-spacing: 2px;
  font-size: 1rem;
  font-weight: 500;
  margin: 0;
}

.skills-section > h2 {
  letter-spacing: px;
  color: #24252c;
  font-size: 2rem;
  margin: 0;
}

.all-skills {
  display: flex;
  width: 85%;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 20px;
}

.individual-skill {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 18px 18px;
  height: 100px;
}

.individual-skill-img {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
}

.individual-skill-img > img {
  width: 70px;
  border-radius: 5px;
}

.individual-skill > p {
  font-weight:500;
}

.skills-section > hr {
  margin-top: 90px;
  margin-bottom: 126px;
  width: 100%;
  height: 2px;
  background-color: rgba(128, 128, 128, 0.188);
  border: none;
}
